
# /
/.idea
/log
/mail
/mail_delivery
/pcrb.iml
/pcrb.ipr
/pcrb.iws
/projectFilesBackup
/tmp
/doc/plugins
/public/newrelic
/.bundle

# Netbeans stuff
/nbproject


# /config/
/config/sphinx.yml
/config/database.yml
/config/development.sphinx.conf
/config/config.yml.local
/config/config.local.yml
/config/cucumber.sphinx.conf
/config/newrelic.yml
/config/ngx_geo.conf
/config/test.sphinx.conf
/config/memcache.local.yml
/config/memcache.yml
/config/memcached.local.yml
/config/bg_executor.local.yml
/config/hosts.rb
/config/daemons.yml

# /config/initializers/
/config/initializers/zlocal.rb

# /db/
/db/sphinx
/db/schema.rb

# /db/oferta/
/db/oferta/data
/db/oferta/logos
/db/oferta/prices

# /public/
/public/logos
/public/pagecache
/public/system
/public/avatars
/public/cache
/public/showcases
/public/plugin_assets
/public/ckeditor_assets
/public/robots.txt

# /public/images/
/public/images/captchas

# /public/javascripts/
# /public/mail_delivery/ids_file_name/
/public/mail_delivery/ids_file_name/tmp

# /public/stylesheets/
#/public/stylesheets/active_scaffold
/public/stylesheets/base_packaged.css

# /script/
/script/.idea

# /vendor/plugins/
/vendor/plugins/scrap
.rvmrc
db/development_structure.sql
